.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #f9f9f9; /* Optional: Set a background */
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 5px solid #3498db; /* Blue border for the top */
  border-radius: 50%; /* Makes it circular */
  animation: spin 1s linear infinite; /* Rotate infinitely */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.parent_container{
/* background-color:#e6ffff; */
background-color:#ffffff;
overflow-x: clip;
    /* width: 1500px;
    margin: auto; */
}
.container{
  width: 1150px;
  margin: auto;
  overflow: hidden;
  /* background-color: red; */
}
.header{}
.header .top-con{
  background-color: #e6ffff;
}
.header .top{
display: flex;
justify-content: space-between;  
align-items: center;
}
.header .top ul{
display: flex;
}
.header .top ul li{
background-color: #99ffff;
font-size: 14px;
font-weight: bold;
padding: 5px 10px;
border-left: 1px solid #28a8e7;
cursor: pointer;
}
.header .top ul li:last-child{
  border-right: 1px solid #28a8e7;
}
.header .mid-con{
background-color: #28a8e7;
}
.header .mid{
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
}
.header .mid .img-con{
display: flex;
align-items: center;
cursor: pointer;
}
.header .mid .input{
  display: flex;
  /* width: 400px; */
  height: 45px;
  /* background-color: red; */
}
.header .mid input{
  width: 400px;
  height: 100%;
  padding: 2px 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 15px;
  border: none;
}
.header .mid .search{
  background-color: #99ffff;
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.header .mid .right-icn{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 300px;
  /* background-color: red; */
}
.header .mid .right-icn .item{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  position: relative;
  cursor: pointer;
}
.header .mid .right-icn .item span{
position: absolute;
right: 0;
bottom: 0;
width: 14px;
height: 14px;
border-radius: 50%;
background-color: #fff;
}
.header .mid .right-icn .img{
  width: 35px;
  height: 35px;
  
}
.header .bot-con{
  background-color: #99ffff;
  position: sticky;
  top: 10px;
  /* background-color: red; */
}
.header .bottom{
 height: 50px;
 display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .bottom ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .bottom ul li{
  font-size: 16px;
  font-weight: bold;
  padding: 7px 13px;
  border: 2px solid rgba(0, 0, 0, .5);
  border-radius: 20px;
  margin-right: 10px;
  background-color: #ccffff;
  cursor: pointer;
}
.header .bottom .last{
  width: 200px;
display: flex;
justify-content: space-between;
border: 2px solid rgba(0, 0, 0, .5);
  border-radius: 20px;
  background-color: #ccffff;
}
.header .social{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.hero{
  margin-top: 20px;
}
.hero .left .menu{
  width: 30px;
  height: 30px;
  border-radius:15px;
  background-color: #008000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 15px;
  transition:.5s;
  margin-bottom: 15px;
  cursor: pointer;
}
.hero .left-con:hover .left .menu{
  width: 100%;
  padding-left: 15px;
  justify-content: flex-start;
}
.hero .left .menu:hover{
  background-color: #fff;
  border: 1px solid #008000;
  color: #008000;
}
.hero .left-con:hover .left .menu span{
  display: inline-block;
}
.hero .left .menu span{
  margin-left: 10px;
  display: none;
  transition:.3s;
}

.hero .left-con{
  position: fixed;
  left: 0;
  top: 155px;
  z-index: 999;
  display: flex;
}
.hero .left{
  width: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color:#FFF;
  border: 1px solid rgba(0, 0, 0, .5);
  padding: 10px 10px 10px 5px;
  height: 415px;
  overflow:hidden;
  display: flex;
  transition:.5s;
}
.hero .left-con:hover .left{
  width: 250px;
  overflow-y: auto;
}
.hero .left-con:hover .left ul li span,.hero .left-con:hover .left ul li i{
display: block;
}
.hero .left ul li span,.hero .left ul li i{
  display: none;
  transition:.5s;
}
.hero .left ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
}
.hero .left ul li>div{
  display: flex;
  align-items: center;
}
.hero .left ul li:hover{
  color: #008000;
}
.hero .cat-selected{
  background-color: #d4edda;
}

.hero .left .icn{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.hero .left-con .sub-cat{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .5);
  margin-left: 10px;
  padding: 10px;
  width: 210px;
  height: 415px;
  overflow-y: auto;
}
.hero .left-con .sub-cat li:hover{
  color: #008000;
}
.hero .left-con .sub-cat li{
  padding: 5px 0px;
  cursor: pointer;
}

.hero .mid{
  width: 1150px;
  margin: auto;
}
.hero .mid{}
.hero .mid .banner-card{
  display: flex;
  justify-content: space-between;
  
}
.hero .mid .banner{
  width: 78%;
  /* background-color: red; */
}
.hero .mid .banner .img{
  width: 100%;
  height: 310px;
}
.hero .mid .card{
  width: auto;
}
.hero .mid .card li{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #99ffff;
  border: 2px solid rgba(0, 0, 0, .5);
  margin-bottom: 10px;
  padding: 6px 10px;
}
.hero .mid .card .img-con{
  width: 53px;
  height: 53px;
  background-color: #FFF;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.hero .mid .card .img{
  width: 40px;
  height: 40px;
 
}
.hero .mid .banner{}
.hero .right{
  width: 40px;
  position: fixed;
  right: 0;
  top: 155px;
  z-index: 999;
}
.hero .right li{
  background-color: #28a8e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  height: 40px;
  cursor: pointer;
}
.hero .right li i{
  font-size: 30px;
  color: #FFF;
}
.hero .right li:first-child{
  margin-bottom: 20px;
}
.hero .right .icn{
  width: 35px;
  height: 35px;
}

.hero .owl-theme .owl-nav {
  display: none;
}

.hero .owl-theme .owl-nav {
  margin-top: 0px !important;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.hero .owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
}

.hero .owl-theme .owl-nav {
  display: none !important;
}

.hero_caro .owl-theme .owl-nav {
  position: absolute;
  left: 42%;
  bottom: 3%;
}

.hero .owl-theme .owl-dots .owl-dot.active span {
  /* background: #000000 !important; */
  background: #FFF !important;
  width: 48px !important;
  height: 12px;
  border-radius: 30px !important;
}

.hero .owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #C8C8C8;
}
.hero .mid .items{
  display: flex;
  justify-content: space-between;
}
.hero .mid .items  .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, .5);
}
.hero .mid .items  .item:nth-child(1){background-color: #48cae4;}
.hero .mid .items  .item:nth-child(2){background-color: #76bed1;}
.hero .mid .items  .item:nth-child(3){background-color: #a3b2bf;}
.hero .mid .items  .item:nth-child(4){background-color: #d1a5ac;}
.hero .mid .items  .item:nth-child(5){background-color: #ff9999;}

/* All categories */
.head{
display: flex;
justify-content: space-between;
align-items: center;
/* padding-bottom: 2px; */
border-bottom: 5px solid #48cae4;
font-size: 20px;
font-weight: bold;
}
.head .title-2{
background-color: #99ffff;
padding: 3px 10px;
cursor: pointer;
}
.all-cat{
  margin-top: 40px;
}
.all-cat .con{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.all-cat .con .item{
  width: 90px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-right: 5px;
}
.all-cat .con .item .img-con{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  position: relative;
}
.all-cat .con .item .img-con span{
  position: absolute;
  bottom: 0;
  right: 0;
background-color: #e3e3e3;
width: 20px;
height: 20px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
font-weight: bold;
color: #999;
border: 1px solid #ccc;
}
.all-cat .con .item span{
height: 30px;
color: #999;
font-size: 14px;
/* background-color: red; */
margin-top: 3px;
overflow: hidden;
line-height: 14px;
}
.view-more-con{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.view-more-con .view-more{
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #28a8e7;
  color: #28a8e7;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  padding: 0 10px;
  cursor: pointer;
}
.view-more-con .view-more i{
  font-size: 33px;
  margin-left: 10px;
}
.home-product{
  margin-top: 40px;
}
.products{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* cursor: pointer; */
}
.products .product{
  width: 220px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  background-color:#99ffff;
  margin-top: 10px;
  position: relative;
}
.products .product .img{
  width: 100%;
  height: 210px;
  padding: 5px;
  position: relative;
  cursor: pointer; 
}
.products .product .txt{
  padding: 0px 5px;
  height: 50px;
  overflow: hidden;
  cursor: pointer; 
}
.products .product .stars-con{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  cursor: pointer; 
}
.products .product .stars{
width: 150px;
display: flex;
justify-content: space-between;
}
.products .product .stars i{
  font-size: 18px;
}
.products .product .prices-con{
  display: flex;
  justify-content:center;
  margin-top: 5px;
}
.products .product .prices{
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.products .product .prices span{
  font-size: 14px;
font-weight: bold;
}
.products .product .prices span:first-child{
  text-decoration: line-through;
}
.products .product .cart-con{
  margin-top: 5px;
  padding: 0px 5px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.products .product .foot{
  margin-top: 3px;
  font-size: 10px;
  color: #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  padding-bottom: 5px;
}
.products .product .foot i{
  margin-right: 3px;
}
.products .product .offer{
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 999;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
}
.products .product .offer span{
  font-size: 10px;
}
.products .product .offer span:last-child{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff0033;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.all-brand .brands{
  margin-top: 10px;
  display:flex;
  flex-wrap: wrap;
}
.all-brand .brands .brand{
  width: 134px;
  margin-left: 5px;
  margin-right: 4px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom,#55c1da,#f3555d);
}
.all-brand .brands .brand .img{
margin-top: 15px;
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
}
.all-brand .brands .brand .txt{
  height: 27px;
  overflow: hidden;
  text-align: center;
  padding: 0 5px;
}
.all-brand .brands .brand .item{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#e6e6e6;
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.partner_par .partners-con{
  margin-top: 20px;
  display: flex;
}
.partner_par .partners-con .txt{
  width: 950px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  border-right: 2px solid #000;
}
.partner_par .partners-con .partners{
  display: flex;
  flex-wrap: wrap;
}
.partner_par .partners-con .partner{
  width: 254px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: flex;
}
.partner_par .partners-con .partner .img{
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.partner_par .partners-con .partner .title{
  display: flex;
  align-items: center;
}
.footer{
  margin-top: 20px;
}
.footer .services{
  padding: 10px;
  border: 1px solid #000;
  background-color: #ccffff;
  display: grid;
  grid-template-columns: auto auto auto  auto auto;
  column-gap: 5px;
}
.footer .services .item{
display: flex;
flex-direction: column;
align-items: center;
}
.footer .services .item .img{
width: 100px;
height: 100px;
}

.footer .methods{
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap:20px;
}
.footer .methods .method{
  border: 1px solid #000;
  background-color: #ccffff;
  padding: 10px;
}
.footer .methods .method .title{
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.footer .methods .method .images{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.footer .methods .method .img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.footer .infos{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 300px auto auto auto auto;
 column-gap: 10px;
}
.footer .info{
  padding: 5px;
  border: 1px solid #000;
}
.footer .info .logo-con{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .info .logo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: invert();
}
.footer .info .imgTxt{
  width: 200px;
  height: 30px;
  filter: invert();
}
.footer .info ul li{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}
.footer .info ul li:first-child{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.footer .menu{
  margin-top: 20px;
  
  background-color: #ccc;
}
.footer .menu ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .menu li{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  border-right: 2px solid #4d4d4d;
  color: #4d4d4d;
  cursor: pointer;
}
.footer .menu li:last-child{
  border-right: none;
}
.footer .pubs{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  margin-top: 20px;
}
.footer .pubs .pub{
  background-color: #e6e6e6;
  padding: 10px
}
.footer .pubs .pub .txt{
  display: flex;
  justify-content: center;
  
}
.footer .pubs .pub .txt span{
  color: #666666;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #666666;
}
.footer .pubs .pub .img-con{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer .pubs .pub .img{
  width: 60px;
  height: 60px;
}
.footer .bottom{
  font-size: 20px;
  text-align: center;
  background-color: #999999;
  color: #666;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 30px;
}
.flash{
  margin-top: 20px;
  background-color: #cc99ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}

.flash .arr{
  width:40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #9933ff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash .left{
  width:340px;
  background-color: #9933ff;
  border: 1px solid #fff;
  padding: 10px;

}
.flash .left .img-con span{
  width: 60px;
  height: 25px;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #fff;
}
.flash .left .img-con .img{
  width: 170px;
  height: 25px;
}
.flash .left .img-con{
  display: flex;
  justify-content: space-between;
}
.flash .left .items{
  display: flex;
  justify-content: space-between;
}
.flash .left .item .box-con{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flash .left .item .box{
width: 70px;
height: 70px;
background-color: #99ffff;
color: #000;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}
.flash .left .item span{
  display: block;
  width: 2px;
  height: 40px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 5px;

}
.flash .left .item{
  display: flex;
}
.flash .left .long{
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #99ffff;
  margin-top: 4px;
}
.flash .products .product {
  width: 175px;
  
}
.flash .products .product .img{
  height: 165px;
}
